<div class="title container my-3">
    <div class="row">
        <div class="col-12">
            <h1 class="text-uppercase">all products</h1>
            <h6>explore everything monós has to offer</h6>
        </div>
        
        <div class="filters  my-4 container">
            <div class="row justify-content-end">
        <select class="form-select col-4" aria-label="Default select example">
            <option selected>sort by price</option>
                <option value="1">highest to lowest</option>
                <option value="2">lowest to highest</option>
        </select>
        <select class="form-select col-4" aria-label="Default select example">
            <option selected>sort by brand</option>
                <option value="1">aesop</option>
                <option value="2">le labo</option>
                <option value="3">saphro</option>
                <option value="4">milkies</option>
        </select>
         </div>
        </div>
    </div>
</div>

<div class="products container p-3 mb-5">
    <div class="row">
        <div class="col-4 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p class="fst-italic"> $135</p>
                <br>
                <button type="button" class="btn mb-4">add to cart</button>
        </div>
        <div class="col-4 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p class="fst-italic"> $135</p>
                <br>
                <button type="button" class="btn mb-4">add to cart</button>
        </div>
        <div class="col-4 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p class="fst-italic"> $135</p>
                <br>
                <button type="button" class="btn mb-4">add to cart</button>
        </div>

        <div class="col-4 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p class="fst-italic"> $135</p>
                <br>
                <button type="button" class="btn mb-4">add to cart</button>
        </div>

        <div class="col-4 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p class="fst-italic"> $135</p>
                <br>
                <button type="button" class="btn mb-4">add to cart</button>
        </div>
        
    </div>
</div>




<div class="whoWeAre container">
    <div class="row justify-content-between
    ">
        <div class="col-5 text-start p-0">
            <h1>WHO WE ARE</h1>
            <h6 class="text-uppercase ">Dedicated. Unique. Inspired.</h6>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas finibus lobortis libero, ornare accumsan purus. Sed in accumsan purus. Aliquam sodales ante sit amet quam interdum, at iaculis turpis hendrerit. <br><br>
            Etiam nec libero sit amet quam vulputate scelerisque a non felis. Donec in erat ex. Fusce semper auctor eros in hendrerit. Aenean quis elit nec ante eleifend consequat. 
            <br><br>Ut cursus bibendum mauris, id molestie risus consequat ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed eget dignissim diam, quis eleifend dui. Vestibulum dui enim, cursus vitae aliquam ac, ultricies ut urna. Suspendisse non laoreet arcu. 
            <br><br>Vestibulum non euismod lectus, eget tempor dolor.</p>
        </div>
        <div class="col-5 imageContainer text\"></div>
    </div>


</div>

