<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-4 p-3 login">
            <h6>Administration</h6>
            <h2>Log In</h2>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username">
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
                </div> 
                <br>
                <div class="enter justify-content-center">
                    <button type="button" class="btn boxBtn p-1 px-3 fw-bold"><h6>enter</h6></button>
                </div>
                </form>
        </div>
    </div>
</div>

