<main>

    <div class="container">
        <div class="row">
            <div class="col-12 hero">
                <div class="row">
                    <div class="col-6 p-5">
                        <h5 class="text-uppercase">not just a scent,</h5>
                        <h1>A Signature</h1>
                        <div class="row">
                        <div class="col-5">
                        <p class="">Find curated fragrances crafted to leave a lasting impression. No copies. No trends. Just you.</p>
                        </div></div>
                        <br><br>
                        <button type="button" class="btn btnShadow text-uppercase">discover monós</button>
                        <br><br><br>
                    </div>
                    <div class="col-6 p-4">
                        <div class="imageContainer "></div>
                    </div>
                </div>
            </div>


        </div>
    </div>



<div class="handSelected col-12">
    <div class="row justify-content-start">
    <div class="col-5 imageContainer"> 
    </div>
    <div class="col-5 p-5">
        <h1 class="">Hand Selected</h1>
        <p class="text-uppercase">Carrying brands that are trusted ethically.</p>
  
        <h4 class="">The best fragrances in the market - selected for their uniqueness, singularity and perplexity. </h4>
        <br>
        <div class="container p-0">
        <div class="row ">
            <div class="col-6">
                <button type="button" class="btn btnShadow text-uppercase"><a class="nav-link" aria-current="page" routerLink="/products" routerLinkActive="menuSelected" >view all</a></button></div>
            <div class="col-6 text-end">
                <button type="button" class="btn btnShadow text-uppercase">about us</button>
            </div>

        </div></div>
    </div>       
    </div>
</div>

<div class="shopByFamily container my-5">
    <div class="row">
        <h1>Shop By Family</h1>
        <p class="text-uppercase">explore scents based off their foundational concepts</p>
        <div class="col-3 familyBox wood">
            <div class="familyImg">
                <img src="/woodPiece.png" alt="">
            </div> <br>
            <div class="text">
                <h4><a class="nav-link" aria-current="page" routerLink="/categories/family" routerLinkActive="menuSelected" >wood</a></h4>
            </div>

        </div>
        <div class="col-3 familyBox floral">
            <div class="familyImg">
                <img src="/white-flower-black.png" alt="">
            </div> <br>
            <div class="text">
                <h4><a class="nav-link" aria-current="page" routerLink="/categories/family" routerLinkActive="menuSelected" >floral</a></h4>
            </div>

        </div>
        <div class="col-3 familyBox amber">
            <div class="familyImg">
                <img src="/amber.png" alt="">
            </div> <br>
            <div class="text">
                <h4><a class="nav-link" aria-current="page" routerLink="/categories/family" routerLinkActive="menuSelected" >amber</a></h4>
            </div>

        </div>
        <div class="col-3 familyBox fresh">
            <div class="familyImg">
                <img src="/green-plant-black-background.png" alt="">
            </div> <br>
            <div class="text">
                <h4><a class="nav-link" aria-current="page" routerLink="/categories/family" routerLinkActive="menuSelected" >fresh</a></h4>
            </div>

        </div>
    </div>
</div>

<div class="newArrivals container p-4">
    <h1>NEW ARRIVALS</h1>
    <p class="text-uppercase">shop our latest additions</p>
    <div class="row">
        <div class="col-3 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p>$135</p>
                <br>
                <button type="button" class="btn mb-4">add to cart</button>
        </div>
        <div class="col-3 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p>$135</p>
                <br>
                <button type="button" class="btn mb-4">add to cart</button>
        </div>
                <div class="col-3 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p>$135</p>
                <br>
                <button type="button" class="btn mb-4">add to cart</button>
        </div>
                <div class="col-3 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p>$135</p>
                <br>
                <button type="button" class="btn mb-4">add to cart</button>
        </div>

    </div>



</div>

<div class="whoWeAre container">
    <div class="row justify-content-between">
        <div class="col-5 text text-start p-0">
            <h1>WHO WE ARE</h1>
            <h6 class="text-uppercase">Dedicated. Unique. Inspired.</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas finibus lobortis libero, ornare accumsan purus. Sed in accumsan purus. Aliquam sodales ante sit amet quam interdum, at iaculis turpis hendrerit. <br><br>
            Etiam nec libero sit amet quam vulputate scelerisque a non felis. Donec in erat ex. Fusce semper auctor eros in hendrerit. Aenean quis elit nec ante eleifend consequat. 
            <br><br>Ut cursus bibendum mauris, id molestie risus consequat ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed eget dignissim diam, quis eleifend dui. Vestibulum dui enim, cursus vitae aliquam ac, ultricies ut urna. Suspendisse non laoreet arcu. 
            <br><br>Vestibulum non euismod lectus, eget tempor dolor.</p>
        </div>
        <div class="col-5 imageContainer"></div>
    </div>


</div>





</main>