  <div class="banner p-1 m-0 sticky-top">
      <p class="text-center m-0">15% off & free shipping on your first order</p>
    </div>


  <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top btnShadow">
  <!-- neeed to make drop down for categories !!!! -->
   <!-- still not routes work ugh gugh ugh  -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h2 class="logo">
      <img src="/monosLogo.png" alt="">
    </h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/products" routerLinkActive="menuSelected" ><h5>shop all</h5></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <h5>shop by family</h5>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">wood</a></li>
            <li><a class="dropdown-item" href="#">amber</a></li>
            <li><a class="dropdown-item" href="#">floral</a></li>
            <li><a class="dropdown-item" href="#">fresh</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h5>cart (0)</h5></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet />

<!-- FOOTER -->
<div class="bg-body-tertiary text-center text-lg-start footer">
  <div class="container">
    <div class="row p-0">
      <h3 class="my-3 p-0"> <a class="navbar-brand" href="#"><h2 class="logo">
      <img src="/monosLogo.png" alt="">
    </h2></a></h3>

      <div class="col-12 py-3">
          <div class="container">
            <div class="row">

              <div class="col-2 p-0">
                <div class="col-lg-1 col-md-10 mb-3 mb-md-0">
                <h5 class="text-uppercase">shop</h5>
                <p>Wood</p>
                <p>Amber</p>
                <p>Floral</p>
                <p>Fresh</p>
              </div>

            </div>

            <div class="col-2 p-0">
                <div class="col-lg-1 col-md-10 mb-3 mb-md-0">
                <h5 class="text-uppercase">COMPANY</h5>
                <p>About Us</p>
                <p>Loyalty's</p>
                <p>Careers</p>
              </div>
            </div>

            <div class="col-2 p-0">
              <div class="col-lg-1 col-md-10 mb-3 mb-md-0 justify-content-end p-0">
              <h5 class="text-uppercase text-end">HELP</h5>
              <p class="text-end">Contact</p>
              <p class="text-end">F&Q</p>
              <p class="text-end">Refund Policy</p>
              <p class="text-end">Delivery</p>
              </div>
            </div>
<!-- SUBSCRIPTION -->
            <div class="col-6 subscribe p-4 px-5">
            <h4>JOIN THE CLUB.</h4> <p>Get exclusive offers and personalized recommendations</p>
              <div class="form-group">
                <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="email">
              </div> <br>
            <p> subscribe →</p>
            </div>
            </div>
        </div>

      </div>
    </div>
  </div>
  
  <!-- Copyright -->
  <div class="text-center p-3" >
    © 2020 MONÓS SCENTS. All rights reseverd
  </div>
  <!-- Copyright -->
</div>
