<div class="title container my-3">
    <div class="row">
        <div class="col-12">
            <h1 class="text-uppercase">inventory</h1>
            <h6>edit products and add new stock</h6>
        </div>
        <div class="filters  my-4 container">
            <div class="row justify-content-end">
        <select class="form-select col-4" aria-label="Default select example">
            <option selected>sort by availibility</option>
                <option value="1">in stock</option>
                <option value="2">out of stock</option>
        </select>
        <select class="form-select col-4" aria-label="Default select example">
            <option selected>sort by family</option>
                <option value="1">wood</option>
                <option value="2">amber</option>
                <option value="3">fresh</option>
                <option value="4">floral</option>
        </select>
         </div>
        </div>
    </div>
</div>

<div class="products container p-3 mb-5">
    <div class="row">
        <div class="col-4 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p>$135</p>
                <br>
                <button type="button" class="btn px-4">edit</button>
        </div>
        <div class="col-4 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p>$135</p>
                <br>
                <button type="button" class="btn px-4">edit</button>
        </div>
                <div class="col-4 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p>$135</p>
                <br>
                <button type="button" class="btn px-4">edit</button>
        </div>
                <div class="col-4 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p>$135</p>
                <br>
                <button type="button" class="btn px-4">edit</button>
        </div>
                <div class="col-4 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p>$135</p>
                <br>
                <button type="button" class="btn px-4">edit</button>
        </div>
                <div class="col-4 productBox">
                <div class="imageContainer mb-4">
                    <img src="/Another_13_100ml copy.png" alt="">
                </div>
                <p class="m-0 interBOLD">ANOTHER 13</p>
                <p>le labo</p>
                <p>$135</p>
                <br>
                <button type="button" class="btn px-4">edit</button>
        </div>
        
    </div>
</div>

<div class="newProduct col-12">
    <div class="row justify-content-between">
        <div class="col-4 p-5">
            <h6 class="text-uppercase">do we have a</h6>
            <h2 class="text-uppercase">new product</h2>
            <p>before you begin, make sure you have all the required data necessary: brand, name, availibility, description, family, image, four featured notes, the size, and price.</p>
            <div class="container p-0">
                <div class="row ">
                <div class="col-6">
                    <button type="button" class="btn text-uppercase">create product</button></div>
                </div>
            </div>
        </div>
        <div class="col-7 imageContainer"> 
        </div>
    </div>
</div>

