<div class="product container mt-5">
    <div class="row justify-content-center">
        <div class="col-3 picture mx-2">
            <!-- <img src="/Another_13_100ml copy.png" alt=""> -->
        </div>
        <div class="col-5 text mx-2">
            <h3>Le Labo</h3>
            <h1>ANOTHER 13</h1>

            <p>Hypnotizing and unique. It's a collaboration between Le Labo and Another Magazine, resulting in a scent characterized by a blend of ambroxan, jasmine, moss, and ambrette seeds, creating a dirty and addictive potion. The fragrance is known for its long-lasting nature and its ability to leave a trail, making a lasting impression.  </p>

            <div class="row bottom justify-content-between">
                <div class="col-3 price"><p class="fst-italic">$135.00</p></div>

                <div class="col-2 quantity m-2"> 
                    <p class="text-center m-0"> -  1  + </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container add my-4 ">
    <div class="row justify-content-end">
        <div class="col-2">
                    <button type="button" class="btn boxBtn p-2 fw-bold">add to cart</button>
        </div>
    </div>
</div>

<div class="family col-12">
    <div class="row justify-content-between">
        <div class="col-4 p-5">
            <h6 class="text-uppercase">This scent is apart of the</h6>
            <h2 class="text-uppercase">fresh family</h2>
            <p>These are clean, bright, and invigorating, often featuring citrus, green, aquatic, or ozonic notes. Envoking a sense of lightness and energy, like a crisp breeze or a splash of water. These scents are usually more subtle and are great for daytime wear. They're often favoured for their versatility and universally appealing nature..</p>
        </div>  
        <div class="col-7 imageContainer"> 
        </div>
     
    </div>
</div>

<!-- NEED TO SOURCE OTHER NOTE PICTURES!!! -->
<div class="featuredNotes container my-5">
    <h1 class="text-uppercase text-center">featured notes</h1>
    <p class="text-center">these are the four key elements that define the overall aroma and character of this fragrance</p>
    <div class="row">
        <div class="col-3 notesBox wood">
            <div class="notesIMG">
                <img src="/cedar.png" alt="">
            </div> <br>
            <div class="text">
                <h4>cedar</h4>
            </div>
        </div>
        <div class="col-3 notesBox wood">
            <div class="notesIMG">
                <img src="/jasmine.png" alt="">
            </div> <br>
            <div class="text">
                <h4>jasmine</h4>
            </div>
        </div>
        <div class="col-3 notesBox wood">
            <div class="notesIMG">
                <img src="/moss.png" alt="">
            </div> <br>
            <div class="text">
                <h4>moss</h4>
            </div>
        </div>
        <div class="col-3 notesBox wood">
            <div class="notesIMG">
                <img src="/pear.png" alt="">
            </div> <br>
            <div class="text">
                <h4>pear</h4>
            </div>
        </div>
</div>
</div>

