<div class="title container my-3">
    <div class="row">
        <div class="col-12">
            <h1 class="text-uppercase">edit</h1>
            <h6>Edit the product by changing the information in the form below, and clicking save changes.</h6>
        </div>

</div>
</div>

<div class="container edit p-4 mt-4">
<div class="row">
    <div class="col-12">
        <div class="brand my-5">
            <label for="exampleFormControlTextarea1" class="text-uppercase">brand:</label>
            <br>
            <select class="form-select" aria-label="Default select example">
                <option selected>LeLabo</option>
                    <option value="1">Aesop</option>
                    <option value="2">Milkies</option>
                    <option value="3">Archens</option>
                    <option value="4">Saphron</option>
            </select>
            <br>
        </div>
<br>
        <div class="name my-5">
            <label for="exampleFormControlTextarea1" class="text-uppercase">name:</label>
            <br>
            <input class="form-control form-control-lg" type="text" placeholder="ANOTHER 13">
        </div>
<br>
        <div class="inStock">
            <div class="form-check form-switch my-3 ">
                <label class="form-check-label text-uppercase" for="flexSwitchCheckDefault" > in stock </label>
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            </div>
        </div>
<br>
        <div class="description">
            <label for="exampleFormControlTextarea1" class="text-uppercase">description:</label>
            <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Hypnotizing and unique. It's a collaboration between Le Labo and Another Magazine, resulting in a scent characterized by a blend of ambroxan, jasmine, moss, and ambrette seeds, creating a dirty and addictive potion. The fragrance is known for its long-lasting nature and its ability to leave a trail, making a lasting impression. "></textarea>
            </div>
        </div>
<br>
        <div class="family">
            <label for="exampleFormControlTextarea1" class="text-uppercase">family:</label>
            <br>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">wood</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">amber</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">fresh</label>
            </div>
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">floral</label>
        </div>
<br>   
        <div class="image">
            <!-- need to get this image to show tf up  -->
            <img src="/client/public/Another_13_100ml copy.png" alt="">
            <div class="mb-3">
            <label for="formFile" class="form-label text-uppercase">image:</label>
            <input class="form-control" type="file" id="formFile">
            </div>
        </div>
<br>
        <div class="featuredNotes">
                <label for="exampleFormControlTextarea1" class="text-uppercase">featured notes:</label>
            <br>
                <select class="form-select" aria-label="Default select example">
                <option selected>First Note</option>
                    <option value="1">cedar</option>
                    <option value="2">ambrette seed</option>
                    <option value="3">jasmine</option>
                    <option value="4">moss</option>
                </select>
                <select class="form-select" aria-label="Default select example">
                <option selected>Second Note</option>
                    <option value="1">cedar</option>
                    <option value="2">ambrette seed</option>
                    <option value="3">jasmine</option>
                    <option value="4">moss</option>
                </select>
                                <select class="form-select" aria-label="Default select example">
                <option selected>Third Note</option>
                    <option value="1">cedar</option>
                    <option value="2">ambrette seed</option>
                    <option value="3">jasmine</option>
                    <option value="4">moss</option>
                </select>
                                <select class="form-select" aria-label="Default select example">
                <option selected>Fourth Note</option>
                    <option value="1">cedar</option>
                    <option value="2">ambrette seed</option>
                    <option value="3">jasmine</option>
                    <option value="4">moss</option>
                </select>
        </div>
<br>
        <div class="Price">
            <label for="exampleFormControlTextarea1" class="text-uppercase">price:</label>
            <br>
            <input class="form-control form-control-lg" type="text" placeholder="$135.00">
        </div>
<br>
        <div class="size">
            <label for="exampleFormControlTextarea1" class="text-uppercase">size:</label>
            <br>
            <select class="form-select" aria-label="Default select example">
                <option selected>150ml</option>
                    <option value="1">150ml</option>
                    <option value="2">250ml</option>
                    <option value="3">500ml</option>
            </select>
            <br>
        </div>
    </div>
</div>
</div>

<div class="container add my-4 ">
    <div class="row justify-content-center">
        <div class="col-3 text-start p-0" >
                    <button type="button" class="btn boxBtn">SAVE CHANGES</button>
        </div>
        <div class="col-3 text-end p-0">
                    <button type="button" class="btn boxBtn">DELETE</button>
        </div>
    </div>


</div>

